backend/__pycache__/controller.cpython-38.pyc
backend/__pycache__/main.cpython-38.pyc
backend/__pycache__/model.cpython-38.pyc
backend/config/__pycache__/__init__.cpython-38.pyc
backend/config/__pycache__/__init__.cpython-39.pyc
backend/todo/__pycache__/models.cpython-38.pyc
backend/todo/__pycache__/models.cpython-39.pyc
backend/todo/__pycache__/routers.cpython-38.pyc
backend/todo/__pycache__/routers.cpython-39.pyc
backend/.vscode/launch.json
backend/__pycache__/controller.cpython-37.pyc
backend/__pycache__/controller.cpython-39.pyc
backend/__pycache__/main.cpython-37.pyc
backend/__pycache__/main.cpython-39.pyc
backend/__pycache__/model.cpython-37.pyc
backend/__pycache__/model.cpython-39.pyc
frontend/todo-list-frontend/node_modules/.staging/@babel/code-frame-638876bc/LICENSE
frontend/todo-list-frontend/node_modules/.staging/
line_chatbot/magicMessage/__pycache__/
backend/config/__pycache__/
